# all ignore
/*
/.**

# not ignore
!/bin/
!/zsh/
!/Brewfile.linux
!/Brewfile.macos
!/README.md
!/tmux-256color.info
!/.config/
!/.config/**
!/.gitignore
!/.gitignore_global
!/.commit_template
!/.globalrc
!/.py3
!/.Rprofile
!/.tmux.conf
!/.zshrc
!/.zshenv
