[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
mypy = "*"
black = "==19.10b0"
"flake8" = "*"
"autopep8" = "*"
isort = "*"
yapf = "*"
python-language-server = "*"
pynvim = "*"
vim-vint = "*"

[requires]
python_version = "3.7"
